/* Estilo del Encabezado */
h1 {
    color: #84482D;
    text-align: center;
}

/* Estilo de los Párrafos */
p {
    font-size: 18px;
    line-height: 1.5em;
    color: #1C1D1F;
}

/* Estilo del Contenedor de Imágenes */
.image-container {
    display: flex;
    justify-content: space-around;
    border: 2px solid #BE6841;
    padding: 20px;
}

/* Estilo de las Imágenes */
.image-container img {
    width: 150px;
    margin: 10px;
}
